#navbar{
    width:98vw;
    height:180px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(11,1fr);
    grid-template-rows: repeat(5,1fr);
}
#navbar>div{
    border:none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    
    
}
#navbar>div:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color:rgb(233, 233, 233);
   display: flex;
   justify-content: end;
}
#navbar>div:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


#navbar>div:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 4;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#navbar>div:nth-child(4){
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 4;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#navbar>div:nth-child(5){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 6;
}
#navbar>div:nth-child(6){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
}
#navbar>div:nth-child(7){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}
#navbar>div:nth-child(8){
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
}
#navbar>div:nth-child(9){
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
}
#navbar>div:nth-child(10){
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6;
}
#navbar>div:nth-child(11){
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 6;
}
#navbar>div:nth-child(12){
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 6;
}
#navbar>div:nth-child(13){
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 6;
}
#navbar>div:nth-child(14){
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 6;
}
#navbar>div:nth-child(15){
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: 6;
}
#navbar>div>a{
   margin:auto;
    text-align: center;  
    color:black;
    text-decoration: none;
}
#navbar>div>a:hover{
    color:rgb(231, 114, 114);
}
#navbar>div>input{
    padding:14px 30px;
    padding-right:90px;
    margin-left: 60%;
}

.table-sub{
    position: absolute;  
    top:30%;
    display:none;
    background-color: white;
    margin-top:0px;
  }
  .table-sub th{
      font-size: 17px;
      padding:16px 0px;
      padding-right:50px;
      padding-left: 10px;
      font-weight: lighter;
  }
  .displaytable:hover .table-sub{
      display:block;
  }
  .table-sub table{
      border-collapse: collapse;
  }
  .table-sub table thead,.table-sub table tbody{
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .table-sub table td{
      padding:10px;
  }
  .table-sub table a{
      text-decoration: none;
      color:rgb(73, 73, 73);
      font-weight: lighter;
  }
  .table-sub table a:hover{
      text-decoration: underline;
  }

  #home:hover{
    cursor: pointer;
}
/* ========================================================== */










/* footer================================================================ */

#footer{
    width:98vw;
    height:auto;
    border:none;
    margin:auto;
    background-color:rgba(248, 234, 217, 0.521);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#upperfooter{
    width:100%;
    height:auto;
    margin:auto;
    border:none;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);
    gap:20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding-top:30px;
    
}
#upperfooter>div:nth-child(1){
    border:none;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
#upperfooter>div:nth-child(1)>p{
    color:rgb(92 92 95);
    margin-left: 15px;
}
#upperfooter>div:nth-child(1)>h3{
    color:rgb(38 38 44);
    font-size: 22px;
    font-weight: lighter;
    margin-left: 15px;
    margin-bottom: 15px;
}
#upperfooter>div:nth-child(2){
    border:none;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#upperfooter>div:nth-child(2)>p{
    color:rgb(92 92 95);
    margin-left: 15px;
    font-size: 13px;
}
#upperfooter>form{
    border:none;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#upperfooter>form>input{
    height:40%;
}
#upperfooter>form>input:nth-child(2){
    width:78%;
}
#upperfooter>form>input:nth-child(3){
    width:20%;
    color:white;
    background-color:rgb(75 86 102);
    border:1px solid black;
}
#upperfooter>form>input:nth-child(3):hover{
    color:black;
    background-color:white;
}


#lowerfooter table{
    margin:auto;
    text-align: left;
    margin-top:30px;
}
#lowerfooter th{
    padding-bottom: 20px;
    font-weight: 400;
}
#lowerfooter td{
    padding-right:30px;
    padding-bottom:10px; 
}
#lowerfooter td a{
    text-decoration: none;
    color:rgb(80, 80, 80);
    font-size: 14px;
    font-weight: 10;
}
#lowerfooter td a:hover{
    text-decoration: underline;
}

#symbol{
    width:30vw;
    height:30px;
    border:none;
    margin:auto;
    display:flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
}
#symbol>div{
    width:18%;
    border:none;
}
#symbol>div:hover{
    cursor: pointer;
}

#longimg{
    width:90%;
    margin:auto;
    padding-bottom: 60px;
} 


/* footer end===================================================*/




/* middle====================================================== */

#middle{
    width:97.9vw;
    margin:auto;
    border:none;
    height:auto;
    display:flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

#middle>div:nth-child(1){
    width:68%;
    height:100%;
    border:none;
    padding-bottom: 30px;
}
#Pcontainer>div{
    text-align: center;
    
}
#Pcontainer>div>h3,#Pcontainer>div>p{
    text-align: left;
}
#Pcontainer>div>button{
    color:white;
    background-color: rgb(88, 88, 88);
    border:none;
    margin:0px 10px;
    font: size 18px;
    width:30px;
}
#middle>div:nth-child(2){
    width:26%;
    height:100%;
    border:none;
}
#middle>div:nth-child(2)>div{
    width:100%;
    height:auto;
    border:1px solid rgb(155, 152, 152);
    text-align: center;
    
}
#checkout,#paypal{
    width:85%;
    height:40px;
    margin-bottom: 15px;
}
#checkout{
    margin-top: 15px;
    background-color:rgb(75 86 102);
    color:white;
    border:1px solid rgb(73, 73, 73);
}
#checkout:hover{
    background-color:white;
    color:rgb(31, 28, 28);
    cursor: pointer;
}
#paypal{
    background-color: white;
    border:1px solid rgb(73, 73, 73);
}
#paypal:hover{
    cursor: pointer;
}
#middle>div:nth-child(2)>div>div{
    width:100%;
    height:auto;
    display:flex;
    justify-content: space-between;
}
#middle>div:nth-child(2)>div>div p{
    display:inline;
    font-size: 18px;
    margin:0px;
    padding:5px;
}







#Pcontainer{
    width:100%;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap:25px;
}
#Pcontainer>div>img{
    width:100%;
}
#Pcontainer>div>h3{
    height:45px;
}


